In [1]:
import pandas as pd
df = pd.read_excel('interview_db.xlsx')

In [2]:
df

,Unnamed: 0,FormID,AdSoyad,Telefon,Durum,Satisci,OdenenTutar,UtmSource,UtmContent,IPGoreUlkeKodu,KayitTarih,AdvType
0,0,1016995,Ghada Mansour,00962788826966,iptal,NaN,0.0,advgoogle,urdun_branding,JO,2016-11-17 08:26:57.027,Google
1,1,1017017,ayman,0096264799000,iptal,NaN,0.0,advgoogle,urdun_branding,JO,2016-11-17 09:20:56.177,Google
2,2,1017260,Abdullah,009647502314584,iptal,Muhammed Osman,0.0,advgoogle,irak_branding,IQ,2016-11-17 14:42:00.177,Google
3,3,1017268,ayoosh,00971557080430,iptal,NaN,0.0,advgoogle,dubai_practice_english,AE,2016-11-17 14:50:16.780,Google
4,4,1017269,Awat,00207701302840,iptal,Tareq Nahar,0.0,googleadv,irak_branding_bn_300250,IQ,2016-11-17 14:50:37.230,Google
...,...,...,...,...,...,...,...,...,...,...,...,...
32450,32450,1005498,الغزي,009647800086057,iptal,NaN,0.0,advgoogle,irak_branding,IQ,2016-11-03 18:45:51.383,Google
32451,32451,1005597,Ahmad,00962788616485,iptal,NaN,0.0,advgoogle,urdun_branding,JO,2016-11-03 20:13:09.937,Google
32452,32452,1005625,تامر عبد الغفور احمد,0096555494226,iptal,NaN,0.0,advgoogle,kuveyt_branding,US,2016-11-03 20:27:30.830,Google
32453,32453,1005684,مايرا,00962793365278,iptal,NaN,0.0,advgoogle,urdun_branding,JO,2016-11-03 21:15:31.663,Google
32454,32454,1005758,Turkiya Mofth,00971529076665,iptal,NaN,0.0,advgoogle,dubai_branding,AE,2016-11-03 22:55:09.150,Google